@font-face {
    font-family: 'mu-th-urregular';
    src: url('../media/font/mu-th-ur-regular-webfont.woff2') format('woff2'),
         url('../media/font/mu-th-ur-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*To remove any margin or border, reset font size & font style, reset the vertical alignment to its default value*/
html, body, div, span, applet,
p, blockquote,
a, big, cite, code,
em, img,
small, strike, strong, tt,
b, u, i,
ol, ul, li,
form, label, legend,
table,
article, aside, canvas,
figure, figcaption, footer, header,
menu, nav, output, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: sans-serif;
}

/* hyphens & too long words go to next line */
div, textarea, table, td, th, code, pre, samp {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
/*To remove bullets from bulleted lists*/
ul, li {
    list-style: none;
}
/*To remove underlining or any other effect on links*/
a, a:target, a:visited, a:active {
    text-decoration: none;
    color: grey;
}

img {
    max-width: 100%;
}

/* --------------------------------------------------------------- General structure */
html, body{
    overflow: hidden;
}

.background {
  top: 0vh;
  left: 0vw;
  background: url("../media/img/background.jpg");
  z-index: 30;
}

#map{
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.panel
{
    position: absolute;
    width: 19vw;
    height: 19vh;
    box-sizing: border-box;
    color: grey;
}
#ClearMap{
  position: absolute;
  z-index: 200;
  height: 3em;
  width: 5em;
  background-color: green;
  color: white;
}

#top, #bottom
{
    width: calc(100vw - 19vw - 19vw);
}
#left, #right
{
    height: calc(100vh - 19vh - 19vh);
}
fieldset{
  width: 45%;
  float: left;
  height: 3em;
  padding-left: 2%;
  margin-top: 2%;


}
fieldset:last-of-type{
  width: 94%;
  border: none;
  display: inline;
}
select, button{
  -webkit-appearance: none;
  		-moz-appearance: none;
  		appearance: none;
      border: none;
      padding: 0.3em;
      margin: 0.3em 0;
}
.panel .transformButton
{
    position: absolute;
    width: 20px;
    height: 20px;
}
#topleft .transformButton
{
    bottom: 0;
    right: 0;
}
#topright .transformButton
{
    bottom: 0;
    left: 0;
}
#bottomleft .transformButton
{
    top: 0;
    right: 0;
}
#bottomright .transformButton
{
    top: 0;
    left: 0;
}
#top .transformButton
{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%):
}
#bottom .transformButton
{
    top: 0;
    left: 45%;
    transform: translateX(-50%):
}
#left .transformButton
{
    top: 50%;
    right: 0;
    transform: translateY(-50%):
}
#right .transformButton
{
    top: 50%;
    left: 0;
    transform: translateY(-50%):
}

#transformButton
{
    position: absolute;
    bottom: calc(20vh + 20px);
    right: calc(20vw + 20px);
    width: 20px;
    height: 20px;
}
#topright, #right, #bottomright, #topleft, #left, #bottomleft{
  padding: 1% 0 0 2%;
}
.selected{
    color: black;
}

#title
{
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#Dform
{
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}
#ISSPassTime
{
    bottom: 5%;
    right: 5%;
}
#UserPosition
{
    bottom: 5%;
    left: 5%;
}
#ISSPosition
{
    top: 5%;
    left: 5%;
}
#twitter
{
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}
#credits
{
    top: 50%;
    left: 5%;;
    transform: translateY(-50%);
}
#camera
{
    top: 5%;
    right: 5%;
}

/* --------------------------------------------------------- Structure des TItres */

.top {
	position: absolute; 
	top:15;
}

.bottom {
	bottom:0;
	position:absolute;
}

.center {
	margin:0 auto; 
}

.dflex {
  display: flex;
  justify-content: space-around;
}

/*.containflex {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
	flex-wrap:row;
	
}
.basis {
	flex-basis:100%;
}
*/
.logo {
  height:120px;
}

h1 {
font-family: 'mu-th-urregular';
text-align: center;
font-size: 50px;
}

h2 {
  font-family: 'mu-th-urregular';
margin-top: 1%;
}

h3 {

}

a {
    text-decoration: none;
    color: grey;
}

p {

}


/* ---------------------------------------------------------------- Media Queries */
